<!DOCTYPE html>
<html>
<head>
    <title>Rewriter</title>
</head>
<body>
    Sentences in text:
    {% for sentence in sentences_in_text %}
         <li>{{ sentence }}</li>
    {% endfor %}
    Rare words:
    {% for word in rare_words %}
         <li>{{ word }}</li>
    {% endfor %}
    Unknown words:
    {% for word in unknown_words %}
         <li>{{ word }}</li>
    {% endfor %}
    <form action="" method="POST">
        {% csrf_token %}
    <textarea cols="80" rows="20" name="text">{{ original_text }}</textarea>
    <input type="submit" value="Analyze" />
    </form>
</body>
</html>