<!DOCTYPE html>
<html>
<head>
    <title>Rewriter</title>
    {% load staticfiles %}
    <link rel="stylesheet" media="screen" href="{% static "rewriter/styling.css" %}" >
</head>
<body>
<div class="page">
    {% if sentences_in_text %}
    <div class="results" id="sentences">
    Sentences in text:<br>
    <textarea cols="80" rows="20" name="text">{% for sentence in sentences_in_text %}{{ sentence }}&#13;&#10;{% endfor %}</textarea><br>
    </div>
    {% endif %}
    {% if flesch_kincaid_grade %}
    <div class="results" id="fkGradeLevel">
    Flesch-Kincaid Grade Level: {{ flesch_kincaid_grade }}<br>
    {{ original_text }}
    </div>
    {% endif %}
    {% if rare_words %}
    <div class="results" id="rarewords">
    Highlighted text:<br>
    {{ highlighted_formatted_text|safe|escape }}
    </div>
    Rare words:
    {% for rword in rare_words %}
         <br/>{{ rword }}
    {% endfor %}
    <div class="results" id="unknownwords">
    Unknown words:
    {% for uword in unknown_words %}
         <br/>{{ uword }}
    {% endfor %}
    </div>
    {% endif %}
    <div class="form" id="formentry">
    <form id="textEntryForm" action="" method="POST">
    {% csrf_token %}
    <div>
    <input type="radio" name="operation" id="radio1" class="radio" value="rareWords"{% if rare_words %} checked{% endif %}>Rare Words
    <input type="radio" name="operation" id="radio2" class="radio" value="fkGradeLevel"{% if flesch_kincaid_grade %} checked{% endif %}>Flesch-Kincaid Grade Level
    <input type="radio" name="operation" id="radio2" class="radio" value="highlightSentences"{% if sentences_in_text %} checked{% endif %}>Highlight Sentences
    </div>
    <div>
    <textarea cols="80" rows="20" name="text">{{ original_text }}</textarea><br>
    <input type="submit" value="Analyze" />
    </div>
    </form>
</div>
</body>
</html>